/*
Theme Name: Kishshana & Co
Template: pretty-kish
Author: Riot Customs LLC
*/

.viva {
  color:#d21a95;
  font-family: VivaBeautifulPro-Regular;
  font-size: 25px;
	font-weight: 300;
  text-transform: none;
 }

.viva-sidebar {
  color:#d21a95;
  font-family: VivaBeautifulPro-Regular;
  font-size: 25px;
	font-weight: normal;
  text-transform: none;
  text-align: center;
	margin-left-: 20px;
 }

.viva-footer {
  color:#fff;
  font-family: VivaBeautifulPro-Regular;
  font-size: 25px;
	font-weight: normal;
  text-transform: none;
 }

.stamp {
  position: relative;
  margin-top: -65px;
}
@media only screen and (max-width: 800px) {
	.stamp {
		margin-top:0;
	}
}

.home-cta {
  background-color: #b8c770;
  font-family: Josefin Sans;
  color: #1e1e1d;
	width: 100%;
  font-size: 20px;
  font-weight: 700;
}

.home-cta .wrap {
	width: 1080px;
	max-height: 75px;
}

.home-cta a {
  text-decoration: none;
}

.home-cta .button {
  background-color: transparent;
  border: 2px solid #6e2c5f;
  color: #6e2c5f;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 12px 24px;
  outline: 0;
	text-align:center;
  text-transform: uppercase;
  width: 100%;
}

.home-cta .button:hover {
  background-color:#dae0bc;
	border: 2px solid transparent;
}

@media only screen and (max-width: 800px) {
	.home-cta, .home-cta .wrap {
		width: 100%;
		margin-bottom: 20%;
	}
}

@media only screen and (max-width: 700px) {
	.home-cta, .home-cta .wrap {
		width: 100%;
		margin-bottom: 30%;
	}
}

@media only screen and (max-width: 600px) {
	.home-cta, .home-cta .wrap {
		width: 100%;
		margin-bottom: 40%;
	}
}

.work {
	margin-bottom: 10px;
}
.work img{
	display: inline-block;
	float: left;
	margin-left: 2.5641%;
	margin-top: 2.5641%;
	width: 30.624%;
}

@media only screen and (max-width: 800px) {
	.work img {
		width: 100%;
		padding-right: 5%;
	}
}

.hey img {
	float:left;
	width: 65%;
}

.hey p {
	font-size:16px;
}

.page-id-647 .entry-title,
.page-id-901 .entry-title,
.page-id-814 .entry-title,
.page-id-865 .entry-title,
.page-id-890 .entry-title,
.page-id-816 .entry-title,
.page-id-863 .entry-title {
	display: none;
}

.about-me h2, .fab-fund h2,
.service h2, .faq h2, 
.social-good h2, .speaking h2,
.test h2{
	color:#fff;
	font-size:26.5px;
	font-weight: 500;
	line-height: 1.6;
	letter-spacing: 2px;
}

.about-me, .faq, .speaking, .social-good {
	background: url('images/KCo-Orange-Dotty-Pattern-Repeating.jpg');
	margin-bottom: 25px;
	padding-top: 30px;
	padding-bottom: 15px;
	max-height: 200px;
}

.fab-fund, .service, .test {
	background: url('images/KCo-Patterns-TINT-Leopard-Repeating-Retina.jpg');
	margin-bottom: 25px;
	padding-top: 30px;
	padding-bottom: 15px;
	max-height: 200px;
}

@media only screen and (max-width: 800px) {
	.about-me, .faq, .speaking, .social-good,
	.fab-fund, .service, .test {
		display:none !important;
	}
	
}

/* # Landing Page
---------------------------------------------------------------------------------------------------- */

.prettycreative-offers .site-inner {
	margin-top: 100px;
	padding: 50px;
}

.prettycreative-offers .content .entry {
	background-color: #fff;
	margin-top: -122px;
	padding: 40px;
}

.prettycreative-offers .entry-title,
.prettycreative-offers h1.entry-title {
	color: #6e2c5f;
	font-size: 30px;
	text-align: center;
}

@media only screen and (max-width: 1200px) {
	.prettycreative-offers .site-inner {
		padding: 3%;
	}
}

/* ConvertKit */
.ck_modal { 
	margin-top 250px !important;
}

.ck_form_content h3 {
	font-size: 35px !important;
}

/* Catagories */
.read {
	padding: 20px;
	text-align: center;
}

.read img{
	display: inline-block;
}